.App {
  text-align: center;
  font-family: monospace;
}

.EnabledButton {
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 8px;
}

.EquipmentDiv {
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 8px;
  float: left;
  position: relative;
  margin: 2px;
}

.EquipmentButton {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  padding-left: 3px;
  padding-right: 3px;
  position: absolute;
  top: -1px;
  right: -1px;
  font-size: 7px;

}
.DisabledButton {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 8px;
}

.AppHeaderContainer {
  display: inline-flex
}
.AppHeaderContainerDiv {
  font-weight: bold;
  font-size: 16px
}
.AppHeaderContainerContent {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 16px;
}

.rc-select {
  width: 100%;
  margin-top: 10px;
}
.rc-select-selection-selected-value {
  font-size: 14px;
}
.rc-select-dropdown-menu-item {
  font-size: 14px;
}
.app-input {
  margin-top: 10px;
  padding-left: 10px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #666;
  height: 22px;
}