.App {
  font-family: monospace;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 31.33%;
  padding: 1%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.modal {
  position: fixed;
  top: 50px;
  padding: 12px;
  background-color: #f3f3f3;
  border: 1px solid grey;
  z-index: 1;
}

.SelectedInjuryButton {
  font-family: monospace;
  background-color: rgb(131, 170, 184);
  color: antiquewhite;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

.heroInjuryButton {
  font-family: monospace;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 3px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
}

.ContinueButton {
  font-family: monospace;
  background-color: rgb(92, 125, 136);
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 8px;
  color: antiquewhite;
  font-weight: bold;
  font-size: 17px;
}

.SaveDataButton {
  float: right;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: bold;
  background-color: rgb(92, 125, 136);
  font-family: monospace;
  color: white;
}
.OpenDataButton {
  float: left;
  padding: 10px;
  width: 200px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: bold;
  background-color: rgb(92, 125, 136);
  font-family: monospace;
  color: white;
}

.PostSequenceModal {
  padding: 12px;
  clear: both;
}
.PostSequenceComponent {
  display: inline-table;
  font-size: 14px;
  clear: both;
  float: left;
}
.ExperienceUnitContainer {
  overflow: hidden;
  font-family: monospace;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 3px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}
.UnitSummaryContainer {
  float: right;
  padding-left: 2%;
  width: 38%;
}
.PostSequenceContainer {
  float: left;
  width: 60%;
}

.EnabledInjuryButton {
  font-family: monospace;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

.BuyButton {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

.EquipmentDiv {
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 8px;
  float: left;
  position: relative;
  margin: 2px;
}

.EquipmentButton {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  padding-left: 3px;
  padding-right: 3px;
  position: absolute;
  top: -1px;
  right: -1px;
  font-size: 7px;

}
.DisabledButton {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 8px;
}
.AppHeaderContainerDiv {
  font-weight: bold;
  font-size: 16px
}
.AppHeaderContainerContent {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.rc-select {
  width: 100%;
  margin-top: 10px;
}
.rc-select-selection-selected-value {
  font-size: 14px;
}
.rc-select-dropdown-menu-item {
  font-size: 14px;
}
.app-input {
  margin-top: 10px;
  padding-left: 10px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #666;
  height: 22px;
}